.clear{
    clear: both;
}

.timerow{
    margin-bottom: 20px;
    padding-left: 20px;
    width: 250px;
}

.timevalue{
    float: left;
    width: 150px;
}

.timeclose{
    float: left;
    width: 50px;
    cursor: pointer;
}

.txt-box{
    padding: 10px;
    font-size: 13px;
    color: #666666;
}
.txt-box p{
    font-size: 13px;

}
.txt-box h4{
    font-size: 13px;
    color: #101010;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal !important;
    word-wrap: break-word;
}
.txt-info{
    width: 50%;
    padding: 6px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #adadad;
}
.txt-dob{
    width: 16%;
    padding: 4px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #adadad;
}

select{
    padding: 4px;
}

.noti-box{
    min-height: 100px;
    padding: 20px;
    border: solid 1px rgb(150,150,150);
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.text-box p {
    margin: 0 0 3px;
}

.text-muted {
    color: #7f7f7f;
}
.fee i{
    border: 1px solid grey;
    padding-left: 4px;
}
.fee input:focus{
    outline: none;
}
i>input{
    margin-left: 4px;
    width: 90%;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 0px !important;
}
#back-to-home{
    cursor: pointer;
}
#back-to-home:hover{
    color: #008000;
}